*{
    margin: 0px;
    padding: 0px;
}
.container
{
    
    width:100%;
    background-color: red;
    display: inline-block;
}

.card
{
    height: 640px;
    width:18%;
    background-color: gray;
    display: inline-block;
}

@media (max-width:420px)
{
 .card{
     background-color: gray;
     width:100%;
 }   
}